
.idea/workspace.xml
.idea/MastersProject.iml
.idea/misc.xml
.idea/workspace.xml

masters/
masters2/
.idea/MastersProject.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
sound_analysis/.idea/misc.xml
sound_analysis/.idea/modules.xml
sound_analysis/.idea/sound_analysis.iml
sound_analysis/.idea/vcs.xml
sound_analysis/.idea/workspace.xml
